body{
background-color: white;
font-family: Verdana, Geneva, Tahoma, sans-serifs;

}
.avator{
    width: 150px;
}
.card{
    width: 400px;
    padding: 20px;
    margin: 40px auto;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color:#ddebf8;
    border-bottom: 6px solid #d8cefe;
    color: #2b2839;
}
.italic{
    font-style: italic;
}
.border-blue
{
    border: 2px dotted blue;
}